@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");

:root {
  /* Primary Colors */
  --Soft-red: hsl(7, 99%, 70%);
  --Yellow: hsl(51, 100%, 49%);
  --Dark-desaturated-cyan: hsl(167, 40%, 24%);
  --Dark-blue: hsl(198, 62%, 26%);
  --Dark-moderate-cyan: hsl(168, 42%, 63%);

  /* Neutral colors */
  --Very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --Very-dark-grayish-blue: hsl(213, 9%, 39%);
  --Dark-grayish-blue: hsl(232, 10%, 55%);
  --Grayish-blue: hsl(210, 4%, 67%);
  --White: hsl(0, 0%, 100%);

  /* Fonts */
  --paragraph-font-family: "Barlow", sans-serif;
  --header-font-family: "Fraunces", sans-serif;
}

html,
body {
  overflow-x: hidden;
  margin: 0;
  font-size: 1.125rem;
  width: 100%;
}
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 20px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

p {
  font-family: var(--paragraph-font-family);
  color: var(--Grayish-blue);
  text-align: center;
  line-height: 1.8rem;
  max-width: 55ch;
}
.header-title {
  width: 100%;
  color: hsl(0, 0%, 100%);
  font-family: var(--header-font-family);
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 10vh;
  text-align: center;
  font-size: calc(2rem + 1vw);
  margin-top: 3em;
}

h2 {
  color: var(--Very-dark-desaturated-blue);
  font-family: var(--header-font-family);
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  max-width: 15ch;
  width: 100%;
}
header {
  background-image: url(./images/mobile/image-header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}

.textBox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  padding: 3.5rem 0 3.5rem 0;
  margin-left: auto;
  margin-right: auto;
}

.textBox a {
  color: var(--Very-dark-desaturated-blue);
  font-family: var(--header-font-family);
  font-weight: 900;
  text-align: center;
  margin-top: 2rem;
  width: 150px;
  max-width: 100%;
  position: relative;
  text-transform: uppercase;
}

.textBox > a::after {
  content: "";
  position: absolute;
  width: 85%;
  border-bottom: 8px solid var(--Yellow);
  left: 10px;
  bottom: 0;
  z-index: -1;
  border-radius: 5px;
  opacity: 0.3;
}

.textBox > a:hover::after {
  opacity: 1;
}

.textBox > .pinkLink::after {
  border-bottom: 8px solid var(--Soft-red);
}

.navigationContainer {
  margin: 0 0.5em;
}

.mobile-menu {
  visibility: hidden;
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3em;
  clip-path: polygon(
    88% 15%,
    100% 0,
    100% 42%,
    100% 100%,
    68% 100%,
    32% 100%,
    0 100%,
    0% 43%,
    0 15%
  );
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-out;
  z-index: 2;
}

.navigationContainer {
  display: flex;
  justify-self: flex-end;
  flex-grow: 1;
  padding: 0.5em 1em;
}
.logo-wrapper {
  margin-right: auto;
}
.hamburger-box {
  margin-left: auto;
}

.mobile-menu.fade {
  opacity: 1;
  visibility: visible;
}

.mobile-content {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  padding-bottom: 1em;
}

.mobile-content a {
  margin-top: 1em;
  font-family: var(--paragraph-font-family);
  color: var(--Grayish-blue);
}
.mobile-content a:nth-of-type(4) {
  color: black;
  font-family: var(--header-font-family);
  text-transform: uppercase;
  font-weight: 900;
  background-color: var(--Yellow);
  padding: 1em;
  border-radius: 3em;
}

.mobile-content a:hover:nth-of-type(4) {
  opacity: 0.7;
  cursor: pointer;
}

.navbar-right ul li a:hover {
  color: black;
  font-family: "Fraunces", sans-serif;
  text-transform: uppercase;
  padding: 10px;
  text-align: center;
  border-radius: 1.5rem;
  background-color: hsl(0, 0%, 100%);
}

a {
  text-decoration: none;
}

nav li a {
  color: var(--White);
  font-size: 1.2rem;
  font-family: var(--paragraph-font-family);
  font-weight: 900;
  margin-right: 1.5rem;
}

.navbar-right {
  display: none;
}

li {
  list-style: none;
  display: inline-block;
}

.headerText {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.eggContainer,
.pinkContainer {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 1rem 1.5rem 30rem;
  max-width: 100%;
}
.pinkContainer {
  background-image: url("./images/mobile/image-stand-out.jpg");
}
.eggContainer {
  background-image: url("./images/mobile/image-transform.jpg");
}
.cherryBg {
  background-image: url(images/mobile/image-graphic-design.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 650px;
}

.textboxGreen h2,
.textboxGreen p {
  color: var(--Dark-desaturated-cyan);
}

.textWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: 5rem 0 5rem 0;
}

.orangeBg {
  background-image: url(images/mobile/image-photography.jpg);
  background-repeat: no-repeat;
  height: 650px;
  background-size: cover;
  background-position: center;
}
.textboxBlue p,
.textboxBlue h2 {
  color: var(--Dark-blue);
}

.testimonialsBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 3rem;
}

h3 {
  color: var(--Grayish-blue);
  text-transform: uppercase;
  margin-top: 5rem;
  letter-spacing: 4px;
  text-align: center;
  font-family: var(--header-font-family);
}

.clientBoxes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 4rem 0 4rem 0;
}

.clientBoxes p {
  color: var(--Dark-grayish-blue);
  margin-bottom: 15px;
  width: 100%;
}
.clientImg {
  display: block;
  margin: 50px;
  border-radius: 50%;
  max-width: 100px;
}

.clientBoxes p:nth-of-type(2) {
  color: var(--Very-dark-desaturated-blue);
  font-family: var(--header-font-family);
  margin-bottom: 5px;
}

.pictureWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0;
  margin: 0;
}

/* Alternative to using grid  */

/* .pictureWrapper {
  display: flex;
  flex-wrap: wrap;
}

.pictureWrapper > * {
  flex: 1 1 10em;
} */
.pictureBox img {
  width: 100%;
  height: 100%;
}

footer {
  background-color: var(--Dark-moderate-cyan);
  padding: 3em 0;
  width: 100%;
}

.footerWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.logoContainer {
  margin-bottom: 30px;
}
.informationContainer {
  width: 100%;
  margin-right: 25px;
}

.informationContainer ul {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 1.5rem;
  margin-bottom: 50px;
}

.iconsContainer ul {
  display: flex;
  justify-content: center;
  gap: 1.5em;
  margin-right: 2em;
}

footer a {
  color: var(--Dark-desaturated-cyan);
  font-family: var(--paragraph-font-family);
}

/* Media queries to change images to deskptop versions */
@media (min-width: 750px) {
  header {
    background-image: url("images/desktop/image-header.jpg");
    height: 1000px;
  }
  .cherryBg {
    background-image: url("images/desktop/image-graphic-design.jpg");
    background-size: 100% 100%;
  }
  .orangeBg {
    background-image: url("images/desktop/image-photography.jpg");
    background-size: 100% 100%;
  }
}

/* Layout Queries */

@media (min-width: 900px) {
  .pictureWrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  .testimonialsBox {
    flex-direction: row;
    padding: 10rem;
    gap: 4rem;
  }

  .container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: end;
  }

  .brandBox {
    grid-row: 1;
  }

  .feedbackBox {
    position: relative;
  }
  h3 {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
  }
  .navbar-right {
    display: block;
  }
  .mobile-icon {
    display: none;
  }
  .mobile-menu.fade {
    opacity: 0;
    visibility: hidden;
  }
}

/* Animations for the arrow in the header */

#arrowDown {
  animation: moveDownUp 2s linear infinite;
  position: relative;
  margin-left: -25px;
}

@keyframes moveDownUp {
  0%,
  100% {
    top: -1.6em;
  }
  50% {
    top: 5em;
  }
}
